*{
  margin: 0;
  padding: 0;
}
img{
  height: 500px;
  width: 500px;
  padding: 20px;
}
header{
  background-image: url(../images-files/moving\ 1.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.nav-bar-menu{
  /* float: center; */
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: space-evenly;
  margin-right: 200px;
  padding-top: 80px;
}
div a{
  color:white;
  justify-content: space-between;
  text-decoration: none;
   padding-left: 20px; 
}
div a:hover{
  background-color: yellow;
}
.menu-icon-5{
  background-color: yellow;
  color: black;
}
.menu-icon-6{
  background-color: black;
}
.page-text{
  font-size: 20px;
  color: yellow;
}

/* h2{
  color: white;
  text-align: center;
} */
.image-pic{
  margin-top: 20px;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;

}
.image-movers-test{
  display: flex;

}
.marketing{
  padding: 30px;
  padding-top: 150px;
}
.marketing> span{
  color: green;
  border-top: 3px solid gold;
}
.text-paragraph{
  text-align: center;
  margin: 0;
  padding: 0;
} 
button{
  padding: 10px;
  font-size: 10px;
  color: gold;
  background-color: black;
  border-top-right-radius: 20%;
}
.moving-images{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

}
.head-section{
  font-size: 40px;
}
section>.para1{
  padding-top: 150px;
  padding-left: 0;
  font-size: 50px;
  color: yellow;
}
section>.para2{
  margin-top: 50px;
  font-size: 30px;
  color: white;

}
.mixed span{
  color: yellow;
  margin-top: 30px;
}
.icons{
  text-decoration: none;
}
footer{
  background-color: black;
  height: 30vh;
  background-size: cover;
  background-position: center;
  color: white;
}
.top-footer{
  display: flex;
  margin-top: 50px;
  padding: 30px;
}
h1 span{
  color: yellow;
}
.table-area{
  float: right;
  margin-top: 50px;
  margin-right: 100px;
}
