*{
  margin: 0;
  padding: 0;
}
main{
  background-color: lightgray;
}
header{
  height: 20vh;
}
.nav-bar-menu{
  /* float: center; */
  display: flex;
  flex-direction: row;
  float: right;
}
div a{
  color:white;
  justify-content: space-evenly;
  text-decoration: none;
   padding-left: 20px; 
}
hr{
  color: solid white;
}
.small-text{
  color: white;
}
.prise-size{
  display: flex;
}

.image-big-1{
  width: 700px;
  margin-top: 50px;
}
.images{
  margin-left: 150px;
} 
.small-images{
  width: 700px;
}
.image-1{
  width: 100px;
}
.image-2{
  width: 100px;
}
.image-3{
  width: 100px;
}
.image-4{
  width: 100px;
}
.image-5{
  width: 100px;
}
.image-6{
  width: 100px;
}
.image-7{
  width: 70px;
}
table,tr, td{
  border: 1px solid;
  margin-left: 150px;
  width: 700px;
  border-collapse: collapse;
}
tr{
  border-radius: 20%;
}
.description{
  margin-top: 30px;
  border: 1px solid black;
  margin-left: 150px;
  width: 700px;
  border-radius: 10%;
}
.feartures{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  width: 700px;
  justify-content: space-between;
}
.table-features tr td{
  border: none;

}
.similar-images img{
  width: 300px;
  height: 200px;
  flex-wrap: nowrap;
  justify-content: space-between;
}
footer{
  background-color: black;
  height: 30vh;
  background-size: cover;
  background-position: center;
  color: white;
  border-color: black;
}
.top-footer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
h1 span{
  color: yellow;
}
.table-area{
  float: right;
  margin-top: 100px;
  margin-right: 50px;
}
table{
  border-color: black;
}
tr td{
  border-color: black;
}
